* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.banner_bg {
  width: 100%;
  height: 700px;
  background-image: url(https://res.cloudinary.com/dcmgay3nl/image/upload/v1752197259/1-assignments/Hero-bg_pmvv4q.png);
}
/* here we using common style */
.btn {
  outline: none;
  background-color: #4e47ff;
  border: none;
  padding: 10px 14px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(207, 206, 206);
  color: #4e47ff;
}

/* this is navbar section style */

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

nav h3 {
  font-size: 30px;
  font-weight: 800;
  color: #4e47ff;
}

/* this is banner section */

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.banner h1 {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
}

/* action section */

.action {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}

.action .left {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.action .left h4 {
  font-size: 40px;
  font-weight: bold;
}
.action .left p {
  font-size: 22px;
  font: 300;
  line-height: 26px;
  color: #5a5a5a;
}

.action img {
  border-radius: 8px;
}

/* this is productive user section */

.productive_user {
  width: 100%;
  height: 350px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.productive_user_container {
  width: 100%;
  height: 300px;
  background-color: #4d47ff48;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 8px;
}
.productive_user_container h3 {
  font-size: 38px;
  font-weight: bold;
}
.user-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
}
.user_number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_number h6 {
  font-size: 80px;
  color: #4e47ff;
}
.user_number p {
  font-size: 20px;
  color: #5a5a5a;
}

/* user comment section style  */

.user_comment {
  width: 100%;
  height: 450px;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_comment_container {
  width: 100%;
  height: 450px;
  background-color: #4d47ff23;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 8px;
}

.user_comment_container h2 {
  font-size: 42px;
}

.user_card_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.user_card {
  height: 200px;
  width: 250px;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.user_card h3 {
  font-size: 18px;
}
.user_card p {
  font-size: 14px;
  color: rgb(66, 66, 66);
}
.user {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user img {
  border-radius: 50%;
}
.name_data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name_data h5 {
  font-size: 14px;
  font-weight: 600;
}
.name_data p {
  font-size: 10px;
  color: rgb(95, 95, 95);
}

/* this is get in touch style */

.touch_section_container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  background-color: #4d47ff28;
  margin-top: 50px;
}

.touch_section {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.touch_section h3 {
  font-size: 70px;
  font-weight: 700;
  width: 50%;
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}
form div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
form div label {
  font-size: 16px;
  font-weight: bold;
}

form div input {
  width: 100%;
  height: 35px;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 16px;
  color: #5a5a5a;
  background-color: #c7c6c6;
  border-radius: 5px;
}
form div textarea {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  padding: 10px;
  color: #5a5a5a;
  background-color: #c7c6c6;
  border-radius: 5px;
}

form .btn {
  align-items: center;
}

/* this is footer section */

footer {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_container {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer_container h3 {
  font-size: 100px;
  color: #4e47ff;
  font-weight: 700;
}

.footer_container p {
  font-size: 12px;
  color: #6c67ff;
  width: 400px;
  line-height: 15px;
}

.footer_container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.footer_container ul li {
  list-style: none;
}
.footer_container ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #6c67ff;
}
